@import '~semantic-ui-css/semantic.min.css';
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0; /* Slightly darker background color */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Style headings for a sleek look */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

/* Apply a subtle box shadow to elements with a class "box" */
.box {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  margin: 20px;
  height : 25vh;
}

.row {
  padding: 20px;
  display: flex;
  border-radius: 4px;

  justify-content: space-between;
}

.bottom-section {
  display: grid;
  border-radius: 4px;
  margin: 15px;
  grid-template-columns: repeat(4, 1fr); /* Create four equally sized columns */
  height: 60vh; /* Stretch the columns to the height of the parent container */
  gap: 2px; /* Add gap between columns as needed */
}

.column {
  text-align: center;
}
.box-small {
  flex: 1;
  padding: 10px;
  background-color: #fff;
  height : 100%;

  margin: 5px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Style links */
a {
  color: black;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-animation {
  display: inline-block;
  animation: spin 1s linear infinite;
  margin-left: 10px; /* Adjust this as needed for spacing */
}
.button-85 {
  color: #fff;
  margin :10px; /* Add margin between adjacent buttons */
  min-width: 100px;
  padding: 10px 25px;
  border-radius: 14px;
  background-color: #38c5d2;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 2px 9px 9px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 14px;
  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;
  opacity: 1; /* Set the initial opacity to fully visible */
  transition: background-color 0.5s ease, opacity 0.5s ease; /* Add transitions for background-color and opacity */
}

.button-85:hover {
  background-color: #6C63E0; /* Change the background color on hover */
  opacity: 0.8; /* Reduce opacity on hover to create the fade-in effect */
}